@import "main.css";


.layered-waves-blue{
    background-image: url('assets/layered-waves-blue.svg')
}

.layered-waves-blue{
    background-image: url('assets/layered-waves-blue.svg')
}

.waves-blue{
    background-image: url('assets/wave-haikei.svg');
}

.blue {
    background: #49a2d5;
}
